Fluid/*
!Fluid/0.orig
!Fluid/constant/dynamicMeshDict
!Fluid/constant/transportProperties
!Fluid/constant/turbulenceProperties
!Fluid/system
!Fluid/Fluid.foam
*.vtk
*.log
config.dot
config.png
linear_elasticity1
linear_elasticity2
