# For GPU version, uncomment the following line and comment out the CPU one:
# --extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cpu

numpy~=2.0
scipy~=1.0
torch~=2.0
matplotlib>=3,<4
pyprecice~=3.0
