Solid/*
Fluid/*
!Fluid/0/*
!Fluid/constant
!Fluid/system
!Fluid/Fluid.foam
!Fluid/precice-adapter-config.yml
!Solid/0
!Solid/constant
!Solid/system
!Solid/Solid.foam
!Solid/precice-adapter-config.yml

