# Auxiliary files, or files downloaded via download-meshes.sh
adiabatic.dfl
all.msh
dummy
inner-interface.flm
inner-interface.nam
inner-interface.sur
outer-interface.flm
outer-interface.nam
outer-interface.sur
solid.inp
