fenicsprecice~=2.2
numpy >1, <2
matplotlib

# Assuming FEniCS from ppa:fenics-packages/fenics was installed https://fenicsproject.org/download/archive/
# Use --system-site-packages in venv
fenics-dijitso~=2019.0
fenics-dolfin~=2019.0
fenics-ffc~=2019.0
fenics-fiat~=2019.0
fenics-ufl-legacy~=2022.0
