name: Checks
on: [push, pull_request]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - run:  bash tools/check.sh
      - run:  bash tools/check-size.sh
